############################################################################################################
#
#  File System Region Setting
#
############################################################################################################

file_system_region:
  rom:


############################################################################################################
#
#  External Memory Setting
#
############################################################################################################

external_memory:
    parameters_version: v1
    parameters:
       # EMI 1
      - flash_info:
            flash_type: SF
            id_length: 3
            flash_id:  [0xC2, 0x25, 0x36, 0x00, 0x00, 0x00, 0x00, 0x00]
        memory_type: PSRAM_130MHz
        EMI_Setting:

       # EMI 2
      - flash_info:
            flash_type: SF
            id_length: 3
            flash_id:  [0xEF, 0x40, 0x16, 0x00, 0x00, 0x00, 0x00, 0x00]
        memory_type: PSRAM_130MHz
        EMI_Setting:

       # EMI 3
      - flash_info:
            flash_type: SF
            id_length: 3
            flash_id:  [0xC2, 0x20, 0x16, 0x00, 0x00, 0x00, 0x00, 0x00]
        memory_type: PSRAM_130MHz
        EMI_Setting:

       # EMI 4
      - flash_info:
            flash_type: SF
            id_length: 3
            flash_id:  [0xEF, 0x70, 0x16, 0x00, 0x00, 0x00, 0x00, 0x00]
        memory_type: PSRAM_130MHz
        EMI_Setting:

       # EMI 5
      - flash_info:
            flash_type: SF
            id_length: 3
            flash_id:  [0xC8, 0x60, 0x16, 0x00, 0x00, 0x00, 0x00, 0x00]
        memory_type: PSRAM_130MHz
        EMI_Setting:

       # EMI 6
      - flash_info:
            flash_type: SF
            id_length: 3
            flash_id:  [0xC2, 0x25, 0x38, 0x00, 0x00, 0x00, 0x00, 0x00]
        memory_type: PSRAM_130MHz
        EMI_Setting:


